<ossec_config>
  <client>
    <server>
      <address>{{ wazuh_manager_ip }}</address>
      <port>{{ wazuh_manager_port }}</port>
    </server>
  </client>

  <!-- Other configuration sections here -->

</ossec_config>
